Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
anyjson==0.3.1
couchdbkit==0.5.7
distribute==0.6.15
http-parser==0.7.1
ipython==0.12
lockfile==0.9.1
python-daemon==1.6
restkit==3.3.2
tweetstream==1.1.1
wsgiref==0.1.2
